@import "tailwindcss";

@theme {
  --color-primary: rgb(3, 164, 237);
}

body {
  background-color: #1a1a1a;
  user-select: none;
}

.twrp-bg {
  background-color: #1a1a1a;
}

.twrp-button-shape {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.twrp-button-shape-small {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(3, 164, 237);
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(3, 164, 237);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.side-progress-transition {
  animation: 0.5s linear 0s infinite sideProgressTransition;
}

@keyframes sideProgressTransition {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(0);
  }
  to {
    /* returns the sun to its default position */
    transform: translateX(100vw);
  }
}
